@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    /* FONTS */
    --textfont: "Roboto";

    /* COLORS */
    --darkmode: rgb(15, 15, 15);
    --darkmode2: rgb(25, 25, 25);
    --textcolor: whitesmoke;
    --hovercolor: rgb(200, 0, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkmode);
}

/* SCROLL BAR ------------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--darkmode2); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--hovercolor);
    border-radius: 25px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 0, 255, 0.5); 
}

/* NAVBAR AND LOGO ------------------------------------------------------------------------ */
nav{
    background-color: var(--darkmode);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    margin-top: 2vh;
    width: 16vw;
    margin-right: auto;
}

ul {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 2.5vw;  
}

nav a {
    text-decoration: none;
    color: var(--textcolor);
    font-family: var(--textfont);
    font-size: large;
    transition: all ease-in-out .125s;
}

nav a:hover{
    color: var(--hovercolor);
}

/* CONTENT SECTION ------------------------------------------------------------------------ */
.content-container {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--textcolor);
    font-family: var(--textfont);
}

.pic-container {
    text-align: left;
    width: 35vw;
}

.pic-container img {
    border-radius: 20px;
    width: 30vw;
    height: 30vw;
}

.content h1, p {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: -1.5vw;
}

.text-container {
    background-color: var(--darkmode2);
    border-radius: 20px;
    height: 30vw;
    width: 30vw;
}

.text-container-2 {
    background-color: var(--darkmode2);
    border-radius: 20px;
    height: 30vh;
    width: 65vw;
    margin-top: 4vw;
    margin-bottom: 8vh;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* NAVBAR AND LOGO ------------------------------------------------------------------------ */
    nav{
        flex-direction: column;
    }

    .logo {
        width: 70vw;
    }

    /* CONTENT SECTION ------------------------------------------------------------------------ */
    .content {
        flex-direction: column;
    }

    .pic-container {
        width: 80vw;
    }
    
    .pic-container img {
        width: 80vw;
        height: 80vw;
    }

    .text-container {
        width: 80vw;
        height: auto;
    }
    
    .text-container-2 {
        width: 80vw;
        height: auto;
    }

    .content h1 {
        font-size: 1.5em;
        padding-top: 2vh;
    }

    .content h1, p {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .text-container p:last-child, .text-container-2 p:last-child {
        padding-bottom: 4vh;
    }

    .text-container, .text-container-2 {
        margin-top: 4vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}




