@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    /* FONTS */
    --textfont: "Roboto";

    /* COLORS */
    --darkmode: #121212;
    --darkmode2: #1E1E1E;
    --textcolor: #FFFFFF;
    --textcolor2: #BDBDBD;
    --accent: #9C27B0;
    --hovercolor: rgb(200, 0, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--textfont);
}

body {
    background-color: var(--darkmode);
}

/* SCROLL BAR ------------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--darkmode2); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--hovercolor);
    border-radius: 25px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 0, 255, 0.5); 
}

/* NAVBAR AND LOGO ------------------------------------------------------------------------ */
nav{
    background-color: var(--darkmode);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    margin-top: 2vh;
    width: 16vw;
    margin-right: auto;
}

ul {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 2.5vw;  
}

nav a {
    text-decoration: none;
    color: var(--textcolor);
    font-family: var(--textfont);
    font-size: large;
    transition: all ease-in-out .125s;
}

nav a:hover{
    color: var(--hovercolor);
}

/* NAVBAR AND LOGO ------------------------------------------------------------------------ */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--textcolor);
    background-color: var(--darkmode2);
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 15vh;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    color: var(--textcolor);
    text-align: center;
}

.profile h1 {
    margin-bottom: .25em;
}

hr {
    margin-top: 1em;
    align-self: stretch;
    border: 1px solid var(--accent);
}

.profile img {
    width: 45vw;
    border-radius: 50%;
    margin: 1em 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 70vw;
}

.item a {
    margin-left: 1em;
    text-decoration: none;
    color: var(--accent);
}

.bottom-item {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.small-divider {
    margin: 0 auto;
    border: 1px solid var(--textcolor2);
    width: 60vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* NAVBAR AND LOGO ------------------------------------------------------------------------ */
    nav{
        flex-direction: column;
    }

    nav ul {
        display: none;
    }

    .logo {
        width: 70vw;
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile img {
        width: 40vw;
    }

    .container {
        width: 45vw;
        margin: auto;
    }

    .item, .profile, .small-divider {
        width: 40vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
