/* 
IMPORTANT 
THIS IS THE FILE CONTAINS ALL OF THE CONSTANTS THAT IS USED ACCROSS 
THE WEBSITE. THIS INCLUDES COLORS, FONTS, SIZES, ETC...

REMEMBER TO IMPORT THIS FILE IN ALL OF THE HTML PAGES
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  /* SIZES */
  --fs-h1: 81px;
  --fs-h2: 72px;
  --fs-h3: 54px;
  --fs-h4: 30px;
  --fs-h5: 24px;
  --fs-h6: 18px;
  --fsm-h1: 54px;
  --fsm-h2: 40px;
  --fsm-h3: 36px;
  --fsm-h4: 27px;
  --fsm-h5: 24px;
  --fsm-h6: 18px;

  --fs-p18: 18px;

  /* FONTS */
  --font: "Lato", sans-serif;

  /* COLORS */
  --background: rgb(230, 230, 230);
  --foreground: rgb(210, 210, 210);
  --textcolor: rgb(20, 20, 20);
  --textcolor-btn: rgb(230, 230, 230);
  --primary-color: rgb(0, 113, 255);
  --secondary-color: rgb(103, 62, 229);
  --logo: url("../../img/Logo/esberg-low-resolution-logo-black-on-transparent-background.png");
}

.darkmode {
  /* COLORS */
  --background: rgb(7, 9, 12);
  --foreground: rgb(30, 35, 43);
  --textcolor: whitesmoke;
  --textcolor-secondary: rgb(172, 173, 181);
  --primary-color: rgb(0, 113, 255);
  --secondary-color: rgb(103, 62, 229);
  --logo: url("../../img/Logo/esberg-low-resolution-logo-white-on-transparent-background.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
