#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#theme-switch:hover {
  cursor: pointer;
}

#theme-switch svg {
  fill: var(--textcolor);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.darkmode-div {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.logo {
  max-width: 250px;
  margin-left: 40px;
  content: var(--logo);
}

nav {
  width: 100%;
  height: 120px;
  border-bottom: 2px solid var(--foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul > li {
  display: inline-block;
  margin: 0 20px;
}

nav > ul > li > a {
  font-family: var(--font);
  color: var(--textcolor);
  text-decoration: none;
}

nav > ul > li > a:hover {
  border-bottom: 1px solid var(--textcolor);
}

body {
  background-color: var(--background);
}

.divider {
  margin: 64px 0;
}

@media only screen and (max-width: 600px) {
  .darkmode-div {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 992px) {
  nav {
    height: 100px;
  }

  nav ul {
    display: none;
  }

  .darkmode-div {
    width: auto;
    margin-right: 5%;
  }

  .logo {
    max-width: 225px;
    margin-left: 5%;
  }
}
