.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--textcolor);
  font-family: var(--font);
}

.cards h2 {
  font-size: var(--fs-h3);
}

.card {
  width: 40%;
  margin: 30px auto;
  /* border-radius: 15px; */
  /* background-color: var(--foreground); */
  /* overflow: hidden; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.thumbnail > img {
  width: 600px;
  aspect-ratio: 16 / 9;
  vertical-align: top;
  border-radius: 15px;
}

.card-content {
  margin: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-content p {
  margin-top: 10px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-container a {
  text-decoration: none;
  color: var(--textcolor-btn);
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.button-container a:hover {
  background-color: var(--secondary-color);
}

.card-content h3 {
  font-size: var(--fs-h4);
}

@media only screen and (max-width: 992px) {
  .cards h2 {
    text-align: center;
  }

  .card {
    width: 90%;
    margin: 30px auto 60px auto;
    border-radius: 15px;
    background-color: var(--foreground);
    padding-bottom: 30px;
    /* overflow: hidden; */

    flex-direction: column;
    align-items: center;
  }

  .card-content p {
    margin: 10px 0;
  }

  .thumbnail > img {
    width: 100%;
    margin-bottom: 15px;
  }
}
