.contact {
  color: var(--textcolor);
  font-family: var(--font);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact svg {
  fill: var(--textcolor);
}

.contact h2 {
  font-size: var(--fs-h3);
}

.contact span {
  color: var(--primary-color);
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.contact-container hr {
  height: 128px;
  border-color: var(--primary-color);
}

.contact-employer-info {
  width: 75%;
}

.cv-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-download p {
  margin-top: 16px;
}

.cv-download svg {
  transition: fill 0.2s ease;
  fill: var(--textcolor);
}

.cv-download svg:hover {
  cursor: pointer;
  fill: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.contact-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info-card a,
p {
  text-decoration: none;
  margin-left: 8px;
  margin-bottom: 4px;
  color: var(--textcolor);
}

.contact-info-card a > svg {
  transition: color 0.2s ease;
}

.contact-info-card a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.contact-info h3 {
  font-size: var(--fs-h3);
  padding-bottom: 16px;
  margin-top: 32px;
}

@media only screen and (max-width: 992px) {
  .contact {
    margin: 0;
  }
  .contact h2 {
    text-align: center;
  }

  .contact-container {
    flex-direction: column;
    width: 90%;
  }

  .contact-employer-info {
    width: 100%;
  }

  .contact-container hr {
    display: none;
  }

  .cv-download svg {
    margin-top: 16px;
  }

  .contact-info h3 {
    text-align: center;
    margin-top: 48px;
  }
}
