.about-me {
  width: auto;
  margin: 75px 30%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: var(--textcolor);
  font-family: var(--font);
}

.about-me > h1 {
  font-family: var(--font);
  font-size: var(--fs-h1);
  font-weight: 900;
}

.profile {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile > h2 {
  margin-left: 40px;
  font-family: var(--font);
  font-size: var(--fsm-h3);
  font-weight: 600;
}

.profile > h2 > span {
  color: var(--primary-color);
}

.profile > p {
  margin-left: 20px;
  color: var(--textcolor-secondary);
}

@media only screen and (max-width: 600px) {
  .about-me > h1 {
    font-size: var(--fs-h3);
  }

  .about-me {
    margin: 0px 5%;
  }
}

@media only screen and (max-width: 992px) {
  .about-me {
    margin: 50px 5%;
  }

  .profile {
    flex-direction: column;
  }

  .profile img {
    width: 300px;
    height: 300px;
  }

  .profile > h2 {
    margin: 0;
  }

  .profile > p {
    margin: 0;
  }
}
